@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h2>@ViewBag.Title.</h2>

    <address>
        Fairfield University<br />
        1073 N Benson Rd, Fairfield, CT 06824<br />
        <abbr title="Phone">P:</abbr>
        203-254-4000
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:connectsfrancis@gmail.com">Support</a><br />
        <strong>Marketing:</strong> <a href="mailto:connectsfrancis@gmail.com">Marketing</a>
    </address>
</center>