@{
    ViewBag.Title = "Home Page";
}
    <div class="jumbotron">
        <h1 class="display-3">Connecting University Campuses</h1>
        <p class="lead">Building an internal network for students from various universitites to communicate and collaborate within their respective campuses - viewable only for registered students </p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
        </button>
    </div>
